{% extends "layout.html" %}
{% block content %}


    <section class="blog-section blog-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-6 blog-post">
                    <p class="paragraph-regular">Release {{ this.release }}</p>
                    <a href="#"><h2 class="heading-2">{{ this.title }}</h2></a>
                    <div class="img-overlay d-flex align-items-center">
                        <div class="left">
                            <p class="button-bold">{{ this.pub_date|dateformat }}</p>
                        </div>
                    </div>
                    <p class="paragraph-medium lead">{{ this.description }}</p>
                    <p class="paragraph-medium">{{ this.body }}</p>
                </div>
                <div class="col-xl-4 col-lg-5 offset-lg-1 offset-xl-1 blog-sidebar">
                    <p class="paragraph-regular">Release 2021.62</p>
                    <a href="{{ '/blog/2021-62-election-day-screens'|url }}"><h6 class="small-heading">Wahlen und  Abstimmungen: Ergebnispräsentation</h6></a>
                    <hr>
                    <p class="paragraph-regular">Release 2021.67</p>
                    <a href="{{ '/blog/2021-67-org-ticket-assignment'|url }}"><h6 class="small-heading">Org: Zuweisen von Tickets und Inbox</h6></a>
                    <hr>
                    <p class="paragraph-regular">Release 2021.67</p>
                    <a href="{{ '/blog/2021-67-agency-mutations'|url }}"><h6 class="small-heading">Staatskalender: Verbesserte Mutationsmeldungen</h6></a>
                    <hr>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
