a {
    color: #dc0018;
}

p a, ul li a, ul li, sup {
    font-weight: normal;
}

a:hover {
    color: #9a0011;
}

.heading-3, .heading-4, .heading-5, .heading-6, .small-heading {
    letter-spacing: 0;
    hyphens: auto;
}

p a {
    display: inline;
}

.navbar-brand img {
    width: 150px;
}

.announcement {
    background: #169BDB;
    text-align: center;
    line-height: 1.5em;
    padding: 20px;
}

.announcement a {
    margin-right: 3px;
}

.announcement a {
    color: #fff;
}

.navbar-brand {
    background: #dc0018;
    margin-top: -24px;
}

header .navbar {
    padding-bottom: 75px;
}

.customers {
    margin: 50px 0 0 0;
    padding: 50px 0;
    background: #f3f2ef
}

.custom-carousel-item a {
    color: #fff;
}

.custom-carousel-item img {
    margin-top: 60px;
    height: 250px;
    border-radius: 50%;
}

.testimonial, .featured-section {
    padding-top: 80px;
    padding-bottom: 30px;
}

.testimonial8-wrapper .glider-contain {
    padding-top: 0
}

.testimonial8-wrapper .glider-contain .glider .paragraph-medium {
    padding-top: 60px;
}

@media only screen and (max-width: 767px) {
    .testimonial8-wrapper .glider-contain .glider .paragraph-medium {
        padding-top: 10px
    }
}

.faq3-wrapper {
    padding-top: 0px;
}

.sms {
    width: 200px !important;
    margin-top: -200px;
    padding-left: 5px;
}

@media (min-width: 576px) {
    .sms {
        margin-top: -65px;
    }
}

a.start {
    font-size: 120%;
}

.start svg {
    margin-right: 10px;
}

.contact a {
    color: #fff;
}

@media only screen and (min-width: 992px) {
    .footer-4 .footer-content .f-right {
        padding: 70px 8%;
    }
}

.blog-section {
    padding: 0;
}

.blog-section ul li {
    font-weight: normal;
}

.blog-section ul ul {margin-top: 0}

.faq .accordion .accordion-item .accordion-header .accordion-button {
    letter-spacing: 0;
}

.featured2 .featured-content .featured-single {
    background: #f3f2ef;
}

.featured-section .featured-content .featured-single .paragraph-regular {
    color: rgb(85, 85, 85);
}

.featured6 .featured-content .featured-single .heading-6 {
    margin-top: 0
}

@media (min-width: 768px) {
    #sustanability .featured-single {height: 500px}
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}


.blog-post-single {
    margin-bottom: 200px !important;
}

.blog-post img {
    max-width: 100%;
    height: auto;
    margin: 30px 0
}

.blog-7 .blog-post-single {
    margin-bottom: 320px !important;
}

.blog-7 .blog-post-single > img {
    display: block;
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center 20%;
}

@media only screen and (max-width: 767px) {
    .blog-7 .blog-post-single {
        margin-bottom: 360px !important;
    }

    .blog-7 .blog-post-single > img {
        height: 260px;
    }
}

.blog-post-single .img-overlay {
    min-height: 400px;
}

.blog-7 .img-overlay {
    z-index: 2;
}

footer {margin-top: 100px;}

.lead {
    font-weight: 700;
    margin-top: 30px;
    font-size: 20px !important;
    line-height: 1.5 !important;
}

.featured7 .featured-content .featured-single:hover {
    border-color: #dc0018;
}

.brand-logo .col-6 {
    padding: 15px;
}

.brand-logo img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0;
}

.brand-logo .card {
    padding: 15px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.blog-section ul {
    margin: 40px 0px;
}


.blog-post-single .img-overlay {
    margin-bottom: 40px !important;
}

.blog-section p, 
.blog-section ul li, 
.blog-section p a,
.page p, 
.page ul li, 
.page ul li a, 
.page p a {
    font-size: 18px;
    line-height: 1.5;
}

.blog-section h2,
.page h2 {
    font-weight: 700;
    margin-top: 2rem;
}

.blog-section h1, .blog-section h2, .blog-section h3, .blog-section p {
    -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}

.blog-section .paragraph-medium,
.page .paragraph-medium {
    margin-bottom: 30px;
}

.more {
    margin-top: 16px;
}

pre code, pre code span {
    font-family: monospace;
    font-weight: 400;
    font-size: 14px;
}

pre code {
    background: #F8F9FA !important;
}

code {
    color: #dc0018
}

em {
    font-weight: 400;
    font-size: 18px;
}

table {
    margin-bottom: 40px;
}

thead {
     background-color: #F1F3F5;
}

th {
    font-weight: 700;
    padding: 15px 20px;
}

table {
    width: 100%;
}

td {
    font-weight: 400;
    padding: 15px 5px;
}

td, th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    vertical-align: top;
}

blockquote {
    margin: 0 0 1rem;
    padding: .5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #cacaca;
}

blockquote, blockquote p {
    line-height: 1.6;
    color: #8a8a8a;
}

.blog-7 .img-overlay {
    bottom: -110%;
}